@import "../theme.scss";

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 6px 11px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: $fontSizeNormal;
    font-weight: $fontWeightMedium;
    color: $colorBlackPrimary;
    position: relative;
    background-color: $colorWhitePrimary;
    opacity: 1;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    box-shadow: rgb(255 255 255 / 70%) 0px 10px 40px -10px;

    &:hover {
        filter: brightness(0.75);
    }

    &.porcelain {
        color: $colorWhitePrimary;
        background-color: $colorPorcelainPrimary;
        box-shadow: rgb(230 103 103 / 70%) 0px 10px 40px -10px;
    }

    &.orange {
        color: $colorWhitePrimary;
        background-color: $colorOrangePrimary;
        box-shadow: rgb(241 144 102 / 70%) 0px 10px 40px -10px;
    }

    &.black {
        color: $colorWhitePrimary;
        background-color: $colorBlackPrimary;
        box-shadow: rgb(0 0 0 / 70%) 0px 10px 40px -10px;
    }
}
