@import "../theme.scss";

.image_font {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.menu_fix_template {
    visibility: visible;
    opacity: 1;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    top: 150px;
    left: 50px;
    // display: block;
    z-index: 1;
    // direction: ltr;
    background-color: $colorGraySecondary;
    color: $colorBlackPrimary;
    position: absolute;
}

.subtitle {
    font-size: 18px;
}

.title_login {
}

.content_detais {
    padding: 50px;

    .detais {
        padding-right: 50px;
        font-size: 18px;
    }
}

.title_login {
    font-size: 30px;
    font-weight: bold;
}

.boutton {
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    transition-duration: 200ms;
    transition-property: background;
    font-size: 16px;
}

// .container{
//  text-align: center;
//     text-justify: auto;
//     display: flex;
//     flex-direction: column;
//     margin: 0 auto;
//     padding: 0 15px;
//     border: 30px solid;
//     border-color: black;
//     padding: 20px;
//     margin-bottom: 50px;
//     margin-top: 60px;}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    .subtitle {
        font-size: 20px;
        margin-top: 30px;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: 1771px) {
        .menu_fix_template {
            max-width: 600px;
        }
    }

    @media only screen and (max-width: 807px) {
        .content {
            width: 580px;
            font-size: 1px;

            &-item {
                font-size: 15px;
            }
        }
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        flex-direction: column;
    }
    &-item {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 15px;

        .quatre_image {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    .trois_photo {
        margin-bottom: 30px;
    }
    .h2_title {
        margin-top: 30px;
        font-size: 30px;
    }
    .picto {
        width: 120px;
        margin-top: 150px;
    }

    .description {
        margin-top: 30px;
        display: block;
        // margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        font-size: 16px;
        font-weight: normal;
        font-family: $fontFamilyPrimary "Poppins", sans-serif;
    }
    .paragraph {
        margin-top: 30px;
    }

    @media only screen and (max-width: 1136px) {
        .menu_fix_template {
            padding: 48px;
            width: 100px;
            height: 900;
        }
    }

    @media only screen and (max-width: 814px) {
        .content-items {
            width: 30px;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 15px;
        }
    }
}

//RESPOSIVE DEBUT
@media only screen and (max-width: 1777px) {
    .menu_fix_template {
        padding: 48px;
        max-width: 760px;
    }
}

@media only screen and (max-width: 1664px) {
    .menu_fix_template {
        max-width: 400px;
    }
}

@media only screen and (max-width: 990px) {
    .menu_fix_template {
        max-width: 300px;
        margin-top: -75px;
    }
}

@media only screen and (max-width: 826px) {
    .menu_fix_template {
        margin-top: -80px;
        max-width: 280px;
    }
}

@media only screen and (max-width: 773px) {
    .menu_fix_template {
        margin-top: -90px;
        max-width: 260px;
    }
}


@media only screen and (max-width: 770px) {
    .menu_fix_template {
        margin-top: -80px;
        max-width: 180px;
        margin-left: -10px;
    }
    .detais {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 705px) {
    .menu_fix_template {
        // max-width: 150px;
        margin-top: -50px;
        .title_login {
            font-size: 19px;
        }
        .detais {
            font-size: 15px;
            display: flex;
            justify-content: center;
        }
    }
}
@media only screen and (max-width: 648px) {
    .menu_fix_template {
        max-width: 120px;
        margin-top: -80px;
        .title_login {
            font-size: 19px;
        }
        .detais {
            font-size: 14px;
            display: flex;
            justify-content: center;
        }
    }
}
@media only screen and (max-width: 476px) {
    .menu_fix_template {
        max-width: 80px;
        margin-top: -60px;
        .title_login {
            font-size: 15px;
        }
        .detais {
            font-size: 12px;
            display: flex;
            justify-content: center;
        }
    }
}
