.title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    .subtitle{
        font-size: 20px;
        margin-top: 30px;
    }
}
.content{
    display: flex;
    &-item{
        display: flex;
        flex-direction: column;
        img{
            width: 250px;
        }
        .items_title{
        }
        @media screen and (max-width: 1477px) {
            img{
                width: 200px;
                align-items: center;
            }
        }
    }
   
    .trois_photo{
        margin-bottom: 30px;
    }
    .h2_title{
        margin-top: 30px;
        font-size: 30px;
    }
    .picto{
        width: 120px;
        margin-top: 150px;
    }
    
    .paragraph{
        margin-top: 30px;
    }
}



