@import '../theme.scss';

.searchBar {
    display: flex;
    position: relative;
    height: 56px;
    background-color: $colorGraySecondary;

    .icon {
        position: absolute;
        height: 100%;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $fontSizeLarge;
        color: $colorGrayPrimary;
    }
    input {
        padding-left: 50px;
        border: none;
        background-color: $colorGraySecondary;
        border-bottom: 2px solid $colorGraySecondary;
        width: 100%;

        &::placeholder {
            color: $colorGrayPrimary;
        }

        &:focus {
            border-bottom: 2px solid $colorBluePrimary;
        }
    }
}