$fontFamilyPrimary: "Poppins", sans-serif;

$fontSizeTitle: 32px;
$fontSizeLarge: 24px;
$fontSizeMedium: 18px;
$fontSizeNormal: 16px;
$fontSizeSmall: 13px;
$fontSizeTiny: 11px;

$fontWeightThin: 100;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontWeightBlack: 900;

$colorWhitePrimary: #fff;
$colorBlackPrimary: #000;
$colorPorcelainPrimary: #e66767;
$colorBluePrimary: #546de5;
$colorGrayPrimary: #77797a;
$colorGraySecondary: #f6f6f6;
$colorOrangePrimary: #f19066;

$breakpoint-tablet: 768px;
